.session .pair {
  padding-bottom: 0.5em;
}
.session .pair .readline {
  margin-bottom: 0.5em;
}
.session .pair .readline .namespace,
.session .pair .readline .prompt,
.session .pair .readline .input {
  float: left;
}
.session .pair .readline .namespace,
.session .pair .readline .prompt {
  padding-right: 0.5em;
}
.session .pair .readline .input .highlight pre {
  margin: 0px;
}
.session .pair .results,
.session .pair .comment,
.session .pair .out,
.session .pair .err,
.session .pair .ret {
  clear: both;
}
.session .pair pre {
  margin: 0px;
}
